<div class="content" [ngStyle] = "{'font-size': '19px','background-color': themeColor(),'text-align': 'center','color': themeColor() === 'white' ? 'black' : 'white'}">
  <button (click)="toggle()">Change Theme</button>

  <br/>
  <br/>
  <div>Angular App's Theme is:  <b>{{ themeColor() | titlecase}}</b></div>    

  <br/><br/>
  <!-- <nav>
    <a routerLink="/home">Home</a> |
    <a routerLink="/contactus">Contact Us</a>
  </nav>

  <router-outlet></router-outlet> -->
  <br/><br/>
  <b>First Signal: {{ firstSignal() }}</b><br />
  <b>Second Signal: {{ secondSignal() }}</b><br /><br/>
  <b>First Computed Variable: {{ firstComputed() }}</b><br />
  <b>Using secondComputed: {{ secondComputed() }}</b><br /><br/>

  <button (click)="handleFirstClick()">Increase First</button>
  <button (click)="handleSecondClick()">Increase Second</button>
  <br />
  <br/>
  <button (click)="fetchUserData()">Fetch User data</button>
  <table style="border:1px;">
    <tr *ngFor="let item of response()">
      <td>{{ item.id }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.email }}</td>
      <td>{{ item.username }}</td>
    </tr>
  </table>

  <br /><br /><br />
  <input type="text" (change)="fetchImage($event)" placeholder="Enter URL" />
  <br/>
  <img [src]="imageLink()" width="300px" height="300px" />
  <!-- <app-profile-pic [imgUrl]="imageLink()" [imgWidth]="'300px'" [imgHeight]="'300px'"> -->
    <!-- <b>this is from ng-content</b> -->
  <!-- </app-profile-pic> -->
  <br /><br /><br /><br />
  <b style="font-size: 20px;" appHoverHighlight>
    Example for HostBinding and HostListener: Hover on me. The text background will be changed to yellow!
  </b>

  <br /><br /><br /><br />
  <div #myDiv>
    Hello, this will have red color and 35px size after 3 seconds!
  </div>
  <br /><br /><br /><br />

  <b style="font-size: 20px;">
    URL for Data: https://jsonplaceholder.typicode.com/users
  </b>
  <br/><br/>

  Using ngModel: <input type = "text" [(ngModel)] = "username" />{{username}}
  <br/><br/><br/>

  <h1>Pipes are as follows</h1>
  <h4>45300 in INR format: {{45300 | currency: 'INR'}}</h4>
  <h4>"04-06-2025" in date format: {{"04-06-2025" | date}}</h4>
  <h4>"04-06-2025" including Day: {{"04-06-2025" | date: 'fullDate'}}</h4>
  <h4>"Prakash" in Uppercase: {{"Prakash" | uppercase}}</h4>
  <h4>"PrAkASH" in lowercase: {{"PrAkASH" | lowercase}}</h4>
  <h4>"ViSWa PrAkASH" in titlecase: {{"ViSWa PrAkASH" | titlecase}}</h4>
  <h4>"Prakash is a developer".slice(0,16): {{"Prakash is a developer" | slice:0:16 }}</h4>

  @let age = 10;
  @if (age >= 18) {
    <h3>using &#64;if: You are a major</h3>
  }
  @else {
    <h3>using &#64;else: You are a minor</h3>
  }

  <h2>Testing &nbsp;&nbsp;whether &nbsp;&nbsp;every &nbsp;&nbsp;word &nbsp;&nbsp;is &nbsp;&nbsp;having &nbsp;&nbsp;3 &nbsp;&nbsp;whites &nbsp;&nbsp;spaces &nbsp;&nbsp;between &nbsp;&nbsp;each &nbsp;&nbsp;other!</h2>
</div>


